<h2>Signup</h2>

<div class="form-container">

    <h3>Enter your information below.</h3><br>
        <form method="post" action="/users/signup">
            <div class="form-group">
                <label for ="username">Username</label>
                <input type="text" name="user[username]" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for ="email">Email</label>
                <input type="email" name="user[email]" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for ="password">Password</label>
                <input type="password" name="user[password]" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for ="password-confirmation">Password Confirmation</label>
                <input type="password" name="user[password]" class="form-control" required><br>
            </div>
            <input type="submit" value="Create">
        </form>
</div>