<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h2>Signup</h2>

<div class="form-container"><div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center"></div>

    <h3>Enter your information below.</h3><br>
        <form method="post" action="/users/signup">
            <div class="form-group">
                <label for ="username">Username</label>
                <input type="text" name="user[username]" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for ="email">Email</label>
                <input type="email" name="user[email]" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for ="password">Password</label>
                <input type="password" name="user[password]" class="form-control" required><br>
            </div>
            <input type="submit" value="Create">
        </form>
</div>