<h1>Runs</h1><br>

<div class="form-container"><div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center"></div>
    <form action="/runs/<%=@run.id %>" method="POST">
      <div class="form-group">
        <label for ="Date">Date</label>
        <input type="text" name="date" value="<%=@run.date %>" required><br><br>
      </div>
      <div class="form-group">
        <label for ="Distance">Distance (miles)</label>
        <input type="text" name="distance" value="<%=@run.distance %>" required><br><br>
      </div>
      <div class="form-group">
        <label for ="Duration">Duration (hours)</label>
        <input type="text" name="duration" value="<%=@run.duration %>" required><br><br>
      </div>
      <input type="submit" value="Update">

  </form>
</div>
<br>
<br>
<br>

<a href="/logout" class="btn btn-success">Logout</a>