<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h1>Add New Run</h1>

<div class="form-container">
        <form method="post" action="/runs">
            <div class="form-group">
                <label for ="date">Date</label>
                <input type="date" name="run[date]" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for ="distance">Distance (miles)</label>
                <input type="decimal" name="run[distance]" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for ="duration">Duration (hours)</label>
                <input type="decimal" name="run[duration]" class="form-control" required><br>
            </div>
            <input type="submit" value="Create">
        </form>
</div>

<br>
<br>
<br>

<a href="/logout" class="btn btn-success">Logout</a>