<h1>Runs</h1><br>

<%= @run.date%><br>
<%= @run.distance%><br>
<%= @run.duration%><br>

  <a href="/runs/<%=@run.id%>/edit">Edit</a>
  <br />
  <br />

<a href="/logout" class="btn btn-success">Logout</a>