<h1>Runs</h1><br>


Date: <%= @run.date%><br>
Distance (miles): <%= @run.distance%><br>
Duration (hours): <%= @run.duration%><br>

<br>

  <a href="/runs/<%=@run.id%>/edit">Edit</a>
  <br />
  <br />

<a href="/logout" class="btn btn-success">Logout</a>