<div class="container">
  <header>
    <h1>My Miles</h1>
  </header><br>
  <br>

  <a href="/signup" class="btn btn-success">Singup</a> 
  <br>
  <br>
  <br>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <h3>Start tracking your workouts today!</h3>

  </div>
</div>
